<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fototeca IronHack 2024</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>

  <body>
    <header class="container">
              <!-- Añadir partials con esta sintaxis y la ruta relativa al partial -->
              <%- include('./partials/nav') %>
    </header>
    <main class="container">
      <!--Si no hay imagenes en la fototeca, animamos al usuario a añadir, si hay, mostramos el número de imágenes disponibles-->
      <% if (images.length == 0) { %>
       <p>Todavía no hay imágenes en la fototeca. 
        <a href="/add-image-form">Añade una hora</a></p>
      <% } else { %>
        <p>La fototeca tiene <%= images.length %> imágenes.</p>
        <% } %>
          <section class="grid">
          <!-- Estos tags significa que lo que viene a continuación es puro código JavaScript-->
        <% images.forEach( i => { %>
        <article>
            <%= i.title %>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
