<!DOCTYPE html>
<html lang="en">

<head>
    <!--Tagify configuration-->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--Tagiify end of configuration-->

    <%- include('./partials/head') %>

    <script defer src="form.js"></script>
    <script defer src="tagify.js"></script>

    <title>Add New Image</title>

</head>

<body>
    <header class="container">
        <!-- Añadir partials con esta sintaxis y la ruta relativa al partial -->
        <%- include('./partials/nav') %>
    </header>
    <form class="container" action="/add-image-form" method="post">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" maxlength="30" pattern="[a-zA-Z0-9_\s]+" title="Usa solo mayúscula, minúscula, números, guiones y espacio" required>
        <label for="imageUrl">Link de la imagen</label>
        <input type="url" name="imageUrl" id="imageUrl" pattern="https://.*" required>
        <label for="tags">Etiquetas (usa tab o coma para separar las etiquetas):</label>
        <input type="text" id="tags" name="tags" autofocus>
        <label for="datePic">Fecha</label>
        <input type="date" name="datePic" id="datePic" max="<%= today %>" required>
        <input type="submit" value="Añadir">
    </form>

        <!-- Mostrar un mensaje de confirmación si el usuario ha insertado correctamente una imagen-->
         <% if (isImageAdded && !isImageAlreadyAdded) { %>
          <div id="message" class="container alert success">
            Imagen insertada correctamente
          </div>
         <% }  else if (isImageAlreadyAdded) { %>
            <div id="duplicated-image-message" class="container alert failure">
                La imagen <strong><%= duplicatedImageUrl %></strong> ya existe!
              </div>
         <% } %>
          
</body>

<script>
    // Initialize Tagify on the input element
    document.addEventListener('DOMContentLoaded', function () {
    const input = document.querySelector('input[name=tags]');
    new Tagify(input, {
        delimiters: ", ",
        pattern: /[a-zA-Z0-9]+/,
        callbacks: {
            add: function(e) {
                console.log("Tag added: ", e.detail);
            }
        }
    });
});
</script>
</html>