.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    cursor: pointer;
}

.alert.success {
    background-color: #04AA6D;
}
.alert.failure {
    background-color: red;
}

img {
    aspect-ratio: auto;
}

.card {
    max-width: 250px;
    margin: auto;
    text-align: center;
}