.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    cursor: pointer;
}

.alert.success {
    background-color: #04AA6D;
}
.alert.failure {
    background-color: red;
}

img {
    aspect-ratio: auto;
}

.image__title {
    text-transform: uppercase;
    text-align: center;
}

.image__date {
    text-align: center;
}

.card {
    max-width: 250px;
    margin: auto;
    text-align: center;
}

.search-form {
    display: flex;
    gap: 1rem;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dominant-color {
    margin: 2rem;
    color: white;
    border-radius: 2px;
    padding: 2px 4px;
    text-align: center;
    text-transform: uppercase;
}

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tag {
    border-radius: 12px;
    background-color: 
    rgb(183, 217, 252);
    padding: 2px 10px;
}

@media (min-width: 760px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery__item img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        /* Escala y recorta la imagen para llenar el contenedor */
    }


}